.flex-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 21.5px;
  margin-right: 21.5px;
}

.text-align-center {
  text-align: center;
}

.box-shadow {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.text-bold {
  font-weight: bold;
}

.small-font {
  font-size: 14px;
}

.big-font {
  font-size: 18px;
}
