#auth {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.bgImage {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999999;
}
.logo {
  height: 179px;
  width: 181px;
  opacity: 100%;
}
.input_container {
  position: relative;
  width: 20%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.input {
  height: 40px;
  background-color: #eeedf6;
  padding-left: 42px;
  width: 100%;
  border: 1px solid #eeedf6;
  border-radius: 8px;
}
.input_img {
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
}

.button {
  width: 100%;
  background-color: #534a99; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.text {
  color: #aaaaaa;
  font-size: 14px;
}
.social_container {
  display: flex;
  flex-direction: row;
}
.social_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* height: 35px; */
  border: 1px solid #3a62e6;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  height: 20px;
  cursor: pointer;
}
.social_box_right {
  border: 1px solid #252627 !important;
}
.social_logo {
  height: 27px;
  width: 27px;
  padding: 10px;
}
.fb {
  color: #3a62e6;
}
.google {
  color: #252627;
}
.last_text {
  display: flex;
  flex-direction: row;
}
.left_text {
  color: #aaaaaa;
  font-size: 14px;
  padding-right: 2px;
}
.right_text {
  color: #534a99;
  font-size: 14px;
  cursor: pointer;
}

.errorText {
  font-size: 14;
  color: red;
}
@media only screen and (max-width: 600px) {
  .input_container {
    width: 90% !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1100px) {
  .input_container {
    width: 35% !important;
  }
}
