.input_home_container {
  position: relative;
  width: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 21.5px;
  margin-right: 21.5px;
}
.color {
  color: #f3f3f3;
}

.main-bottom-container {
  height: auto;
  width: 100vw;
}

.bottom-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bottom-bg {
  width: -webkit-fill-available;
  height: 75px;
  position: relative;
}
.plus {
  height: 24px;
  width: 24px;
  padding: 10px;
}
.bottom-text {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.bottom-child {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
